<h3> Create New Song</h3>

<form action="/songs" method="post">

Song's Name: <input id="Name" type="text" name="name">
Song's Artist: <input name="artist">

<input type="submit" value="SUBMIT">

</form>